body{
    background-color: #FFFFFF;
    margin:0 auto;
    width:100%;
    overflow-x: hidden;
    

    /* overflow: hidden; */
   
   }
   .main-head{
    margin:auto;
    background-color: #3399CC;
    padding:8px;
}

.main-head-content ul {
    list-style-type:none;
    font-size: 34px;
    color:#FFFFFF;
    padding-left:20px;
}

.nav-bar{
    margin:0px;
    background-color: #333333;
   
}



.list-items ul{
  margin:0px;
  padding:0px; 
  list-style-type:none;
  display:flex;
  color:#FFFFFF;
 
 }

 .list-items a.nav-listitem:hover, .active{
  color:black;
  background-color: #FF9900;
  border-left:4px solid #FFFFFF;
  padding:8px;
}

.list-items ul li:hover{
  background-color: #FF9900;
  color:black;
  border-left:4px solid #FFFFFF;
  
  }

  .list-items a:hover{
      color:black;
    
     }

.list-items li {
  
  display:flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  }

.list-items a {
      color:#FFFFFF;
      text-decoration: none;
      padding-right:20px;
      padding-left:30px;
  } 

.logo-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-right: 30px;
}

.logo-section .logo img{
  width: 25px;
  margin: 0 61em;
  padding-top:2px;
}

.required:after{
  content:"*";
  color:red;
  /* position:absolute;  */
}

.req-msg{
  display: none;
  color: red;
  font-size: 12px;
  }


 .error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  padding-left:34px;
} 


  .form-fields:after {
    content: "";
    display: table;
    clear: both;
   
  }

  .form-fields label{
  padding-left:34px;
  }

  .label-field {
    float: left;
    width: 15%;
    margin-top: 20px;
  }
  
  .text-field{
    float: left;
    /* width: 15%; */
    margin-top: 20px;
 
  }

.text-field select{
  float: left;
  width:100%;
  border: 1px solid #ccc;
  color:black;
  border-top:1px solid black;
  border-left:1px solid black;
  border-width: medium;
  margin-right:22px;
}



  
input[type=text] {
    border: 1px solid #ccc;
    color:black;
    border-top:1px solid black;
    border-left:1px solid black;
    border-width: medium;
  }



.opt-info h3{
    padding-left:30px;

}

.opt-info p{
    padding-left:30px;
}

.about-organization{
    padding-left:30px;  
    
}

.aboutorg-textfield{
    padding-left:30px;
     
}

.aboutorg-textfield textarea{
  overflow:scroll;
  overflow-x:hidden;
  border-top:3px solid black;
  border-left:3px solid black;
}

.aboutorg-textfield input{
    padding:30px;
   }

.enquiry{
  padding-left:30px; 
}

.enquiry-textfield{
  padding-left:30px;
}

.enquiry-textfield textarea{
  overflow:scroll;
  overflow-x:hidden;
  border-top:3px solid black;
  border-left:3px solid black;
}

.enquiry-textfield input{
  padding:30px;
}

.buttons{
padding-left:30px;
padding-top:10px;
}

.buttons input{
  background-color: #D4D0C8;
  border-left:none;
  border-top:none;
}










