/* careers.html page*/
body {
  background-color: #ffffff;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.main-head {
  margin: auto;
  background-color: #3399cc;
  padding: 8px;
}

.main-head-content ul {
  list-style-type: none;
  font-size: 34px;
  color: #ffffff;
  padding-left: 20px;
}

.nav-bar {
  margin: 0px;
  background-color: #333333;
}

.list-items ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  color: #ffffff;
}

.list-items ul li {
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
  border-left: 4px solid transparent;
  padding: 8px 10px;
}

.list-items ul li:hover {
  background-color: #ff9900;
  color: #333333;
  cursor: pointer;
  border-left: 4px solid #ffffff;
}

.list-items .active {
  color: #333333;
  background-color: #ff9900;
  cursor: pointer;
  border-left: 4px solid #ffffff;
  padding: 8px 10px;
}
.list-items a {
  color: #ffffff;
  text-decoration: none;
}

.list-items a:hover {
  color: black;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-right: 30px;
}

.logo-section .logo img {
  width: 25px;
  margin: 0 69em;
  padding-top: 2px;
}

.content-head {
  display: flex;
  justify-content: space-between;
}

.content-head li {
  list-style-type: none;
  font-size: 25px;
}

.heading-objective p {
  padding-left: 2.7em;
  line-height: 0px;
}

.form-fields form {
  padding: 3em;
}

input[type="text"] {
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  color: black;
}

.name-field label {
  padding-right: 8em;
}

.email-field label {
  padding-right: 8em;
}

.desiredrole-field label {
  padding-right: 5.1em;
}

.uploadresume-field label {
  padding-right: 3.8em;
}

.uploadresume-field {
  display: inline-flex;
  justify-content: space-between;
}

.browse {
  padding-left: 20px;
  margin-top: 6px;
  margin-bottom: 16px;
  color: black;
}

.browse input {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 4em;
  padding-left: 25px;
  border: 1px solid #ccc;
  color: black;
}

.browse input {
  background-color: #eeeeee;
  font-weight: bold;
  padding-bottom: 14px;
}

input[type="submit"] {
  background-color: #eeeeee;
  color: black;
  padding: 12px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.submit {
  padding-left: 10.5em;
}

.submit button {
  border: 1px solid #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5em;
  padding-left: 15px;
  margin-left: 5px;
}
